<p>
  <b>Name:</b>
  <%=h @subscription.name %>
</p>

<p>
  <b>URL:</b>
  <%=h @subscription.url %>
</p>


<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
